- if activity.trackable != nil
  - present = false
  - if activity.trackable_type == "Comment" and (activity.trackable.uploaded_html_file.note.user == current_user or activity.trackable.uploaded_html_file.note.contributing_users.include? current_user)
    - present = true
  - elsif activity.trackable_type == "Contributor" and (activity.trackable.user == current_user)
    - present = true
  - else
    - present = true

  - if present
    .activity-item
      = link_to profile_path(activity.user) do
        .profile-container.circular
          %img.profile-image.circular#activity-image{:style => "background:url(#{activity.user.user_fb_data.profile_image}) no-repeat"}
      .act.tooltip.fade.right.in
        .tooltip-arrow
        .tooltip-inner
          .activity-type
            %div{:class => "#{activity.trackable.class.name.downcase}-type" }
              - if activity.trackable_type == "Relationship"
                USER
              - elsif activity.trackable_type == "Contributor"
                NOTE
              - else
                = activity.trackable.class.name.upcase
          = ActivityPresenter.new(activity, self).render_activity
