.activity-item-border
  .activity-item
    %a{:'href' => "/profile/#{group[:user_id]}"}
      .profile-halo-container
        .profile-container.circular
          %img.profile-image.circular#activity-image{:style => "background:url(#{group[:profile_image]}) no-repeat"}
    .act.tooltip.fade.right.in
      .tooltip-inner
        .activity-type
          %div{:class => "#{group[:class]}-type" }
            - if group[:type].downcase == 'contributor'
              NOTE
            - else
              = group[:class].upcase
        = ActivityPresenter.new(group, self).render_activity_group
