%h1 News Feed

.wrapper
  %p= link_to "View all notes", notes_path
  %p= link_to "Create new note", new_note_path

  %h2 Activities

  - @activities.each do |activity|
    = ActivityPresenter.new(activity, self).render_activity


/ <h1>Activities</h1>

/ <% @activities.each do |activity| %>
/   <%= div_for activity do %>
/     <%= link_to activity.user.name, activity.user %>
/     <%= render "activities/#{activity.trackable_type.underscore}/#{activity.action}", activity: activity %>
/   <% end %>
/ <% end %>
