.wrapper
  .theme-background
    %p{:id => "slogan_1"} 
      We'll handle the mess 
    %p{:id => "slogan_2"}
      You handle the ideas
    #register
      %ul.inline
        %li
          %a{:class =>"btn btn-large btn-block", :id => "login"} Login
        %li
          %a{:class =>"btn btn-large btn-block", :id => "sign_up"} Sign Up
  %section.summary
    %ul.inline
      %li
        %h1 Organize
        %p 
          Focus purely on writing your ideas while TheNotist organizes your notes in a sleek and minimalistic interface.
        %img{:class => "tile-image big-illustration", :id => "organize"}
        %a{:class => "btn btn-large btn-block btn-info"} Learn More
      %li
        %h1 Share
        %p 
          Collaborate with people on different notes through our dynamic messaging service. Choose if you want certain notes to be public or private.
        %img{:class => "tile-image big-illustration", :id => "share"}
        %a{:class => "btn btn-large btn-block btn-info"} Learn More
      %li
        %h1 Secure
        %p
          All notes are saved in the cloud and can be accessed anywhere with wifi.  Your notes will be backed up on our highly secure servers to ensure no information is lost.
        %img{:class => "tile-image big-illustration", :id => "secure"}
        %a{:class => "btn btn-large btn-block btn-info"} Learn More
  %section.reviews
    .review#review_1
      .tooltip.fade.top.in
        .tooltip-arrow
        .tooltip-inner
          "I love how simple and intuitive it is to navigate through the website! Great product!"
    .review#review_2
      .tooltip.fade.top.in
        .tooltip-arrow
        .tooltip-inner
          "I can't fully express how productive this website has made me. No longer do I have to worry about organizing my notes, but now I can fully focus on cultivating my ideas. The way the notes are organized has helped me quickly reference information from my other notes rather than wasting time going through an overwhelming pile of material. Great job guys." 
    .review#review_3
      .tooltip.fade.top.in
        .tooltip-arrow
        .tooltip-inner
          "The chatting feature has made my course notes SO much more in-depth as I discuss the content with the my classmates. Having these highly detailed notes has literally lifted the pressure off my shoulders when final exams come around."
.footer-wrapper
  .container
    %ul.inline
      %li{:id => "current"}= link_to "About"
      %li= link_to "Help"
      %li= link_to "Developers"
      %li= link_to "Twitter"
      %li= link_to "Facebook"

