.comment-inner
  .profile-container.circular
    .profile-image.circular{:'ng-style' => "{background: 'url({{#{comment}.user.user_fb_data.profile_image}}) no-repeat'}"}
  .comment-body
    .user
      .name
        = "{{#{comment}.user.name}}"
    .comment-text
      = "{{#{comment}.text}}"
  .bottom
    .comment-date
      = "{{#{comment}.time_string}}"
      %a.reply-button.text-link{:'ng-if' => "canReply(#{comment})"}
        Reply
      %a.delete-button.text-link{:'ng-if' => "#{comment}.owned_by_user"}
        Delete
  .clear
  .delete-confirm-panel{:'ng-show' => "#{comment}.showDeleteConfirm"}
    .delete-cancel.btn{:'ng-click' => "#{comment}.showDeleteConfirm = false"} Cancel
    .delete-confirm.btn.btn-danger Delete