.notes-index-page
  %h1 Notes

  .create-new-note
    = link_to new_note_path, :class => 'btn btn-large btn-primary' do
      %i.icon-plus.icon-white
      = "Upload New Note"
  .notes-list-container
    .notes-list
      - @notes.each do |note|
        .notes-list-item
          = link_to note.title, note_path(note), :class => 'text-link'
          - unless current_user.shared_notes.include? note
            = link_to "Delete", note_path(note), :method => :delete, :class => 'btn btn-danger'
            = link_to "Edit", edit_note_path(note), :class => 'btn btn-warning'
            = link_to "Share", '#', :class => 'share btn btn-warning', :note_id => note.id
      .ui-widget
        %input.hidden{:id => 'buddies', :placeholder => "Buddy to share with", :selected => false}
