%h1 Notes#new
.notes-new-page
  .upload_form
    
    = form_for :notes, :html => { :id => "upload_form" }, :method => :post, :url => notes_path do |f| 
      
      = f.label :title, :for => 'note-title-field'
      #title-field.text-field.control-group
        = f.text_field :title, :id => 'note-title-field', :placeholder => "Enter note title"

      %p= f.label :description, :for => 'note-description-field'
      #description-field.text-field
        = f.text_field :description, :id => 'note-description-field', :placeholder => "Enter note description (optional)"
      

      %p.new-file-upload.hidden= f.file_field :file, :id => 'file-picker'

  .upload-interaction
    %h4#upload-label Select a PDF file to upload
    .btn.select-file + Select file
    .btn.btn-primary.submit-action Upload
    .file-name
    .file-size

  .full-screen-overlay.hidden
    .element-container
      .activity-label Uploading file.pdf ...
      .activity-label.secondary Do not refresh this page
      .upload-progress.hidden
        .upload-progress-text
        .progress
          .bar{ :style => "width: 0%" }
      .processing-container.hidden