%h1 New Note

#note-upload-form
  = form_for :notes, :html => { :id => "upload-form" }, :method => :post, :url => notes_path do |f| 
    %h4#upload-label Select a PDF file to upload
    .file-picker
      = f.file_field :file

    = f.label :title
    #title-field.text-field.control-group
      = f.text_field :title, :placeholder => "Enter note title"

    = f.label :description
    #description-field.text-field
      = f.text_field :description, :placeholder => "Enter note description (optional)"
    
    .upload-buttom
      = f.submit "Add Note", :class => "btn btn-primary"

