.notes-show-page

  %h1.note-title= @note.title
  .note-description= @note.description

  .note-images
    - @note.uploaded_files.each do |file|
      .image-container
        = image_tag file.public_path, :width => 700

.comments-sidebar
  = text_field_tag 'newcomment', nil, :class => 'new_comment_text_field', :placeholder => 'Enter your comment here'
  = text_field_tag 'ycoord', nil, :class => 'new_comment_text_field', :placeholder => 'Enter y-coord'

  -# NOTE: upon submit we actually need a file ID of the file that the user is commenting on,
  -#       but we don't have that functionality yet, so we are just gonna pick the first file
  -#       in the note instead
  = submit_tag 'Submit', :class => 'btn', :onclick => "submitComment(#{@note.uploaded_files.first.id})"

  .comments-container
    - @note.comments.each do |comment|
      .comment{ :style => "top: #{comment.ycoord}", :onclick => "setActive(this)" }
        .comment-inner
          .user
            .name
              = comment.user.name
          .comment-text
            = comment.text
          .comment-date
            = distance_of_time_in_words(Time.now, comment.created_at) + ' ago'
