- @note.uploaded_css_files.each do |css_file|
  %link{:type => "text/css", :rel => "stylesheet", :href => css_file.public_path}

#note-header
  %h1.note-title= @note.title
  .note-description= @note.description
  #header-border
#note-main
  
  .note-pages
    - @note.uploaded_files.each_with_index do |file, i|
      .page
        .file-container
          .page-container
            %a{ :name => "Page-#{file.page_number}"}
            .note-page{:'file-id' => file.id }  
              - @html = open(file.public_path).read
              = @html.html_safe
        .comment-buttons-container  
          = render :partial => 'comment_buttons', :object => file.top_level_comments, as: 'comments'
          .comment-button#new-comment-button
            %i.icon-comments
        .comments-container
          .comments
            = render :partial => 'comments', :object => file.top_level_comments
          .comment.parent#new-comment-panel{ :'file-id' => file.id}
            .comment-inner
              .profile-container.circular
                .profile-image.circular{:style => "background:url(#{current_user.user_fb_data.profile_image}) no-repeat"}
              .comment-body
                .user
                  .name
                    = current_user.name
                .comment-text
                  = text_area_tag 'newcomment', nil, :class => 'new_comment_text_field', :placeholder => 'Enter your comment here'
              .bottom
                %a.new-comment-cancel.text-link
                  Cancel
                %a.new-comment-submit.text-link
                  Submit
              .clear