- @note.uploaded_css_files.each do |css_file|
  %link{:type => "text/css", :rel => "stylesheet", :href => css_file.public_path}

%div{:'ng-controller' => 'NoteCtrl', :'ng-init' => "init(#{@note.id})"}
  #note-header
    %h1
      = @note.title
    .note-description= @note.description
    .page-number
      .pages
        Page
        %span
          1 
        of 4
      .profile-container.circular.prev-page
        %i.icon-angle-left
      .profile-container.circular.next-page
        %i.icon-angle-right
      .profile-container.circular.flag
        %i.icon-exclamation
    .contributors
      .profile-container.circular.share-note{:note_id => @note.id}
        %i.icon-plus
      - @note.contributors.each  do |contrib|
        .profile-container.circular
          %img.profile-image.circular{:src => contrib.user.user_fb_data.profile_image}
      
  #note-main
    .note-pages
      - @note.uploaded_html_files.each_with_index do |file, i|
        .page
          .file-container{:'ng-init' => "getComments(#{file.id})"}
            .page-container
              %a{ :name => "Page-#{file.page_number}"}
              .note-page{:'file-id' => file.id, :'ng-click' => "newCommentClick($event, #{file.id})", :'ng-init' => "fileId = #{file.id}"}
                - @html = open(file.public_path).read
                = @html.html_safe
          .comment-buttons-container
            .comment-button{:'ng-repeat' => "comment in files[#{file.id}].comments", :line_id => "{{comment.line_id}}", :'ng-click' => 'expandCommentLine(comment.line_id)', :'ng-style' => "{top: commentY(comment.line_id)+'px'}"}
              %i.icon-comments
            .comment-button#new-comment-button
              %i.icon-comments
          .comments-container
            .comments
              = render :partial => 'comments', :locals => {:fileId => file.id}
    #new-comment-panel.comment{:'ng-show' => 'showNewComment', :'ng-style' => "{'top': newCommentY+'px' }"}
      .comment-inner
        .profile-container.circular
          .profile-image.circular{:style => "background:url(#{current_user.user_fb_data.profile_image}) no-repeat"}
        .comment-body
          .user
            .name
              = current_user.name
          .comment-text
            = text_area_tag 'newcomment', nil, :class => 'new_comment_text_field', :placeholder => 'Enter your comment here', :'ng-model' => 'newCommentText'
        .bottom
          %a.new-comment-cancel.text-link{:'ng-click' => 'showNewComment = false'}
            Cancel
          %a.new-comment-submit.text-link{:'ng-click' => 'submitParentComment()'}
            Submit
        .clear
