#note-main
  %h1.note-title= @note.title
  .note-description= @note.description

  .note-images
    - @note.uploaded_files.each do |file|
      .image-container
        = image_tag file.public_path, :width => 700

.comments-sidebar
  #new-comment-container
    #new-comment-panel
      #new-comment-position-line
        .left-arrow
      = text_area_tag 'newcomment', nil, :class => 'new_comment_text_field', :placeholder => 'Enter your comment here'

      -# NOTE: upon submit we actually need a file ID of the file that the user is commenting on,
      -#       but we don't have that functionality yet, so we are just gonna pick the first file
      -#       in the note instead
      .new-comment-cancel.btn{ :onclick => "hideNewCommentField()"}
        Cancel
      = submit_tag 'Submit', :id => 'new-comment-submit', :class => 'btn btn-primary', :'file-id' => "#{@note.uploaded_files.first.id}"
  #comments-container
    = render :partial => 'comments', :object => @note.comments