- @note.uploaded_css_files.each do |css_file|
  %link{:type => "text/css", :rel => "stylesheet", :href => css_file.public_path}

#note-header
  %h1.note-title= @note.title
  .note-description= @note.description
  #header-border
#note-main
  
  .note-pages
    - @note.uploaded_files.each_with_index do |file, i|
      .file-container
        .page-container
          %a{ :name => "Page-#{file.page_number}"}
          .note-page{:'file-id' => file.id }  
            - if i == 0
              - @html = open(file.public_path).read
              = @html.html_safe
            - else
              .spinner-container
        .comment-buttons-container  
          - file.top_level_comments.each do |comment|
            .comment-button{:line_id => "#{comment.line_id}"}
              %i.icon-comments
        .comments-container
          .comments
            = render :partial => 'comments', :object => file.top_level_comments
          .tooltip.fade.right.in#new-comment-panel
            .tooltip-arrow
            .tooltip-inner
              #new-comment-position-line
                / .left-arrow
              = text_area_tag 'newcomment', nil, :class => 'new_comment_text_field', :placeholder => 'Enter your comment here'
              .btndiv
                .new-comment-cancel.btn
                  Cancel
                = submit_tag 'Submit', :id => 'new-comment-submit', :class => 'btn btn-primary'

#new-comment-header-container
  .new-comment-cancel.btn x
  %h3 New Comment
