%h1 Buddies

%div.current-buddies{:style => "float:left"}
	%h3="#{current_user.buddies.count} Buddies"
	.friends-list
	- current_user.buddies.each do |user|
		.friends-list-item
			= user["name"]


%div.fb-friends{:style => "float:right"}
	%h3 Friends using Notist

	.friends-list
		- @friends_using.each do |user|
			.friends-list-item
				.friend-info
					%img{:src => user["picture"]["data"]["url"]}
					= user["name"]
				= form_for current_user.relationships.build(buddy_id: user[:id]) do |f|
					%div= f.hidden_field :buddy_id
					= f.submit "+", :class => "btn btn-primary add-buddy"


	%h3 Friends not using Notist
	.friends-list
		- @friends_data.each do |friend|
			.friends-list-item
				%img{:src => friend["picture"]["data"]["url"]}
				= friend["name"]

