%h1="#{current_user.buddies.count} Buddies"

%div.current-buddies{:style => "float:left; margin-top: 20px;"}
	.buddy-list
	- current_user.buddies.each do |user|
		.buddy-list-item
			= render :partial => 'profile/user_info', :object => user, :locals => { :name_link => true }

%div.fb-friends{:style => "float:right"}
	%h3 Friends on Notist

	.friends-list
		- @friends_using.each do |friend|
			.friends-list-item
				.friend-info
					.profile-container.circular
						%img.profile-image.circular{:src => friend["picture"]["data"]["url"]}
					.profile-link-container= link_to friend["name"], profile_path(friend[:id])
				- unless current_user.following?(User.find(friend[:id]))
					= form_for current_user.relationships.build(buddy_id: friend[:id]) do |f|
						%div= f.hidden_field :buddy_id
						= f.submit "+", :class => "btn btn-primary add-buddy"


	%h3 Friends not on Notist
	.friends-list
		- @friends_data.each do |friend|
			.friends-list-item
				.friend-info
					.profile-container.circular
						%img.profile-image.circular{:src => friend["picture"]["data"]["url"]}
					.profile-link-container= friend["name"]

