%h1="#{current_user.buddies.count} Buddies"

%div.current-buddies{:style => "float:left; margin-top: 20px;"}
	.buddy-list
	- current_user.buddies.each do |user|
		.buddy-list-item
			%ul.inline
				%li
					%div.circular{:style => "background:url(#{user.user_fb_data.profile_image}) no-repeat"}
				%li.profile_section
					%div.info
						%h2
							= user.name
						%div.profile_info 
							= user.notes.length
							notes
						%div.profile_info 
							= user.buddies.length
							buddies
						%div.profile_info 
							= user.followers.length
							followers

%div.fb-friends{:style => "float:right"}
	%h3 Friends on Notist

	.friends-list
		- @friends_using.each do |user|
			.friends-list-item
				.friend-info
					%img{:src => user["picture"]["data"]["url"]}
					= user["name"]
				- unless current_user.following?(User.find(user[:id]))
					= form_for current_user.relationships.build(buddy_id: user[:id]) do |f|
						%div= f.hidden_field :buddy_id
						= f.submit "+", :class => "btn btn-primary add-buddy"


	%h3 Friends not on Notist
	.friends-list
		- @friends_data.each do |friend|
			.friends-list-item
				%img{:src => friend["picture"]["data"]["url"]}
				= friend["name"]

