%div{:'ng-controller' => 'FlagReportCtrl'}

  %div.unresolved-section{:style => "float:right"}
    %h3 Unresolved Flag Reports (#{@unresolvedflagreports.count})
    - if @unresolvedflagreports.count != 0
      %div{:'ng-init' => "init(#{@unresolvedflagreports.first.id})"}
      .unresolved-list
        - @unresolvedflagreports.each do |report|
          .unresolved-report
            .report-info
              .profile-link-container= link_to report.note.title, :controller => :notes, :action => :show, :id => report.note.id
              .profile-link-container= report.created_at.to_formatted_s(:long_ordinal)
              .profile-link-container= report.report_type
              .profile-link-container= report.description              
            .btn.btn-large.btn-primary#flag_report_btn{ :report_id => report.id, :'ng-click' => "updateReport(#{report.id})" } Resolve
  %div.resolved-section{:style => "float:left"}
    %h3 Resolved Flag Reports (#{@resolvedflagreports.count})
    - if @resolvedflagreports.count != 0
      %div{:'ng-init' => "init(#{@resolvedflagreports.first.id})"}
      .resolved-list
        - @resolvedflagreports.each do |report|
          .resolved-report
            .report-info
              .profile-link-container= link_to report.note.title, :controller => :notes, :action => :show, :id => report.note.id
              .profile-link-container= report.created_at.to_formatted_s(:long_ordinal)
              .profile-link-container= report.report_type
              .profile-link-container= report.description
              
            .btn.btn-large.btn-primary#flag_report_btn{ :report_id => report.id, :'ng-click' => "updateReport(#{report.id})" } Unresolve

            