- if activity.user != current_user
  shared a note with you:
  %a{:'href' => "/notes/#{activity.trackable.shared_note.id}"}
    #{activity.trackable.shared_note.title}
- else
  = "shared a note with "
  %a{:class =>'user-name', :'href' => "/profile/#{activity.trackable.user.id}"}
    #{activity.trackable.user.name.split[0]}
  - num_activities = group[:activities].length
  - if num_activities > 1
    = " and #{num_activities-1} other #{(num_activities-1 > 1 ? 'people' : 'person')}"
  = ": "
  %a{:'href' => "/notes/#{activity.trackable.shared_note.id}"}
    #{activity.trackable.shared_note.title}
