- if activity.user != current_user
  shared a note with you:
- else
  = "shared a note with "
  %a{:'href' => "/profile/#{activity.trackable.user.id}"}
    #{activity.trackable.user.name.split[0]}
  = ": "
%a{:'href' => "/notes/#{activity.trackable.shared_note.id}"}
  #{activity.trackable.shared_note.title}
