%div{:style => "float:left"}
  .container
    %ul.inline
      %li
        %div.circular{:style => "background:url(#{@profile_image}) no-repeat"}
      %li{:style => "vertical-align: top;"}
        %div.info
          %h2{:style => "font-size: 40px; margin-bottom:10px"}= @profile["name"]
          %div.profile_info 
            = current_user.notes.length 
            notes
          %div.profile_info 1000 friends
          .profile-buttons{:style => "margin-top:30px; margin-left:33px"}
            = link_to new_note_path, :class => 'btn btn-large btn-primary' do
              %i.icon-plus.icon-white
                = "Upload New Note"  
            = link_to new_note_path, :class => 'btn btn-large btn-primary' do
              %i.icon-plus.icon-white
                = "Add Buddy"
