.row
  .span3
    = link_to 'TheNotist', root_path, :class => 'brand'
  .span3
    %span.navbar-text
      Title of Page
  .span3
    %form.navbar-search
      %input.search-query{:type => 'text', :placeholder => 'Search'}
  .span3
    %ul.nav.pull-right
      %li.dropdown
        .btn-group
          %a.btn.dropdown-toggle{:'data-toggle' => 'dropdown'}
            %i.icon-cog
            Options 
            .caret
          %ul.dropdown-menu
            %li
              = link_to 'Something', '/'
            %li
              = link_to 'Another Thing', '/'
      %li.divider-vertical
      %li
        .btn-group
          %a.btn.dropdown-toggle{:'data-toggle' => 'dropdown'}
            Login
            .caret
          %ul.dropdown-menu
            %li
              = link_to 'Facebook', '/facebook_login'
            %li
              = link_to 'Google', '/google_login'
    
  -# if user_signed_in?
    %li
      = link_to('Logout', destroy_user_session_path, :method=>'delete')
  -# else
    %li
      = link_to('Login', new_user_session_path)
  -# if user_signed_in?
    %li
      = link_to('Edit account', edit_user_registration_path)
  -# else
    %li
      = link_to('Sign up', new_user_registration_path)
