.sidebar-nav
  .sidebar-inner
    .nav.nav-list
      .logo
        = sidebar_logo_link
      = sidebar_link 'Profile', '/profile', 'icon-user icon-2x'
      = sidebar_link 'Notes', '/notes', 'icon-file icon-2x'
      = sidebar_link 'Buddies', '/buddies', 'icon-group icon-2x'
    .nav.nav-list-bottom
      = sidebar_link 'Settings', '/settings', 'icon-cog'
      %li
        - if current_user
          = link_to destroy_user_session_path, :method=>'delete', :class => 'btn btn-large btn-block' do
            %i.icon-signout
            %span.text Logout
        - else
          = link_to new_user_session_path, :class => 'btn btn-large btn-block' do
            %i.icon-signin
            %span.text Login
