.sidebar-nav.well
  %a.collapse-button{ :onclick => 'toggleSidebar()' }
    %i.icon-chevron-left
  .nav.nav-list
    = sidebar_link 'Home', '/', 'icon-home'
    = sidebar_link 'Feed', '/feed', 'icon-star'
    = sidebar_link 'Profile', '/profile', 'icon-user'
    = sidebar_link 'Notes', '/notes', 'icon-file'
    = sidebar_link 'Explore', '/explore', 'icon-road'
    = sidebar_link 'Courses', '/courses', 'icon-pencil'
    = sidebar_link 'Textbooks', '/textbooks', 'icon-book'
    = sidebar_link 'Buddies', '/buddies', 'icon-user'
    = sidebar_link 'Achievements', '/achievements', 'icon-fire'
