.sidebar-nav.well
  .nav.nav-list
    .nav-header
      Header
    %li.active
      = link_to "/" do
        %i.icon-home
        Home
    %li
      = link_to "/feed" do
        %i.icon-star
        Feed
    %li
      = link_to "/profile" do
        %i.icon-user
        Profile
    %li
      = link_to "/notes" do
        %i.icon-file
        Notes
    %li
      = link_to "/explore" do
        %i.icon-road
        Explore
    %li
      = link_to "/courses" do
        %i.icon-pencil
        Courses
    %li
      = link_to "/textbooks" do
        %i.icon-book
        Textbooks
    %li
      = link_to "/buddies" do
        %i.icon-user
        Buddies
    %li
      = link_to "/ahievements" do
        %i.icon-fire
        Acievements
