<!DOCTYPE html>
%html{ :'ng-app' => 'notistApp' }
  %head
    %title TheNotist
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body{ :'ng-controller' => 'MainCtrl', :'ng-keyup' => 'keypress()', :'ng-init' => "currentUser = #{current_user.as_json.to_json}"}
    .row
      #sidebar.span3
        = render 'layouts/sidebar'
      #sidebar-placeholder.span3
      #main{:role => "main"}
        .content
          .alert{:'ng-show' => 'alert.show', :'ng-class' => "alert.success ? 'alert-success' : 'alert-error'"}
            %a.close{:'ng-click' => 'alert.show = false'} ×
            %div {{alert.text}}
          %div{:'ng-view' => true}
            = yield
      %footer
        = render 'layouts/footer'
