<!DOCTYPE html>
%html
  %head
    %title TheNotist
    = stylesheet_link_tag "application", :media => "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
    = yield(:head)

  %body
    %header#top-nav
      = render 'layouts/navigation'
    #main{:role => "main"}
      .content
        = render 'layouts/messages'
        = yield
    / %footer